/**
 * /* UTILITIES
 *
 * @format
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.nav-bar-item {
  text-decoration: none;
}

.nav-bar-item:hover {
  color: #124028;
}

li {
  list-style: none;
}

/* navbar-section STYLING STARTS */
.navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #d7fbe8;
  color: #1fab89;
}
.nav-bar-links a {
  color: #1fab89;
}

/* navbar-section NAV-MENU */
.nav-menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.nav-menu li:hover {
  background-color: #1f7862;
  border-radius: 5px;
  transition: 0.3s ease;
}
.nav-menu li {
  padding: 5px 14px;
}
.container-box {
  padding: 7% 10%;
}
.light-green-section {
  background-color: #d7fbe8;
  color: #124028;
}
.card-title {
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/*RESPONSIVE navbar-section NAV-MENU STARTS*/
/* CHECKBOX HACK */
.nav-bar-links input[type="checkbox"] {
  display: none;
}
/*HAMBURGER NAV-MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
#nav-id.visible {
  display: block;
}

#eye1,#eye2{
  color: green;
}
#warning1.fa-circle-exclamation,
#warning2.fa-circle-exclamation,
#warning3.fa-circle-exclamation,
#warning4.fa-circle-exclamation,
#warning5.fa-circle-exclamation,
#warning6.fa-circle-exclamation {
  display: var(--fa-display, inline-block);
  color: red;
}

#warning1.fa-circle-check,
#warning2.fa-circle-check,
#warning3.fa-circle-check,
#warning4.fa-circle-check,
#warning5.fa-circle-check,
#warning6.fa-circle-check {
  display: var(--fa-display, inline-block);
  color: green;
}
.error-message{
  color: red;
  display: none;
  text-align: center;
}
.password-match{
  color: red;
  display: none;
}
#id {
  background-color: blueviolet;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
    position: absolute;
    background-color: #d7fbe8;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    z-index: 1;
  }
  .nav-menu li:hover {
    display: inline-block;
    background-color: #1f7862;
    transition: 0.3s ease;
  }
  .nav-menu li + li {
    margin-top: 12px;
  }

  .hamburger {
    display: block;
  }
}
